.DS_Store
/build/
/docs/build/
/dev/
/deps/build.log
/deps/precompile.jl
/deps/lib
.vscode
/bin/

/test/.ion/
/test/dummy/
/test/Foo/
/test/Academic/
/test/Basic/
/test/Comonicon/
/test/ComoniconSysImg/
/test/Package/

Manifest.toml
Comonicon.toml
